*{
    margin: 0px;
   padding: 0px;
   font-family: 'Kaushan Script', cursive;
font-family: 'Poppins', sans-serif;
}
#banner{
    background-image: url(../img/food/2696019.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width:140px;
    position: absolute;
    top: 23.3%;
    left: 21%;
}
.banner-text{
    text-align: center ;
    color: aliceblue;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
    color: green;
    font-family: 'Kaushan Script', cursive;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
    color: black;
    word-spacing: 15px ;
}
.banner-button{
    margin: 70px ;
}
.banner-button a{
    width: 150px;
    text-decoration:  none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0px;
    color: black;
    border: 1px solid greenyellow ;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: color .5s ;
}

.banner-button a span{
     width: 0;
     height: 100%;
     position: absolute;
     top: 0px;
     left: 0px;
     background-color: yellowgreen;
     z-index: -1;
     transition: 0.5s;
     border-radius: 10px;
}
.banner-button a:hover span{
    width: 100%;
}
.banner-button a:hover {
    color: black    ;
}
#sidenav{
    width:250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0px;
    background: greenyellow;
    z-index: 2;
    transition: 0.5s;
    font-size: 18px;
    font-weight: bolder;
                
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
      text-decoration: none;
      color:black;
}

#menubtn{
    width: 50px;
    height: 50px;
    background-color: black;
    text-align: center;
    position: fixed;
     right: 30px;
     top: 20px;
     cursor: pointer;
     z-index: 3;
     border-radius: 3px;
     display: block;
}

#menubtn img{
    width: 20px;
    margin-top: 15px;
}


/* --------- features ---------- */




#feature{
    width: 100%;
    padding: 70px 0;
    background: lightcyan;

}
.title-text{
    text-align: center;
    padding-bottom: 70px;
    
}
.title-text p {
    margin: auto;
    font-size: 20px;
    color: green;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(greenyellow,#fff);
    position: absolute;
    left: 0px;
    top: -20px;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    /* font-weight: 100; */
    color: green;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-text p {
    padding: 0 20px;
    text-align: initial;
}



/*----- ----- Service----------- */






#service{
    width: 100%;
    padding: 70px 0;
    background: lightcyan;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: black;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
#img3{
    height: 83%;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    border-radius: 7px;
    background: linear-gradient(rgba(0,0,0,0.5),lightgreen);
   opacity: 0;
   transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    bottom: 0;
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: 1s;
    transform: translateX(-50%);
}
hr{
    background: black;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 17px;    
    font-weight: bold ;
}
.single-service:hover .service-desc{
 bottom: 40%;
 opacity: 1;
}



/* ---------Review's------------- */






#testimonial{
    width: 100%;
    padding: 70px 0 ;
}

.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px  lightblue;
    transition: 1s;
}
.testimonial-col p{
        font-size: 14px ;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{ 
    width: 140px;
    margin: right 20px;
    border-radius: 3px;
}
.user-info small{
    color:#009688;
}
#user-img2{
    height:220px;
}

.testimonial-col:hover{
  transform: translateY(-80px);
  
}





/* ---------------footer----------- */





#footer{
    padding: 100px 0 20px;
    background-color: lightcyan;
    position: relative;
}
.footer-row{
width: 80%;
margin: 0 auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.footer-left{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: right;
}

.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-img{
    max-width: 280px;
    opacity: 0.2;
    position: absolute;
    left: 50%;
    top: 29%;
    transform: translate(-50%,-50%);

}